<%= render "page_title", title: "Articles Liststing Page" %>

<div>
  <%= link_to "New Article", new_article_path %>
</div>

<% @articles.each do |article| %>
  <%= render "article",  article: article%>
<% end %>
