
  <div class="mt-4 p-5 text-white text-center jumbotron">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi minima aliquam corrupti laboriosam? Est modi vel vitae, inventore</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam modi minima aliquam corrupti laboriosam? Est modi vel vitae, inventore sint</p>
    <% unless logged_in? %>
      <%= link_to "Sign Up", signup_path, class: "btn btn-success btn-lg" %>
    <% else %>
      <%= link_to "View articles", articles_path, class: "btn btn-success btn-lg" %>
    <% end %>
  </div>
